{{#each posts as |post|}}
<div class="dashboard-post">
    <span class="dashboard-top">
    <a class="dashboard-title" href="/post/{{post.id}}">{{post.post_title}}</a>
    <p class="dashboard-user">By: {{user.name}}</p>
    </span>
    <p class="dashboard-text">{{post.post_text}}</p>
</div>

{{/each}}