<h2>Welcome Back!</h2>
<form class="login-form">
    <label for="email">Email:</label>
    <input type="text" name="email" id="login-email"> <br>
    <label for "password">Password:</label>
    <input type="text" name="password" id="login-password"><br>
    <input type="submit" value="Login">
</form>

<script src="./js/login.js"></script>