<div>
    <h2>What's On Your Mind?</h2>
    <form>
        <div>
            <label for="post-title">Title:</label>
            <input name="post-title" type="text">
        </div>
        <div>
            <input type="text">
        </div>
        <div>
            <button type="submit">Post</button>
        </div>
    </form>
</div>