<div class="form">
    <p id="welcome">Join our community of tech enthusiasts!</p>
    <form id="signupform">
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="signupname"><br>
        <label for="email">Email:</label><br>
        <input name="email" id="signupemail"><br>
        <label for="password">Password:</label><br>
        <input name="password" type="password" id="signuppw"><br>
        <input type="submit" value="Sign Up">
    </form>
</div>

<script src="./js/signUp.js"></script>