.topPart {
    background-color: black;
    width: 100%;
    height: 150px;
    font-family: 'Russo One', sans-serif;
}

.topButtons{
    color: white;
    padding-left: 15px;
    padding-right: 15px
}

.main {
    background-color: #887470;
}

#titleButton{
    text-align: center;
    color: white;
}
nav {
    text-align: right; 
}
header {
    padding-top: 20px;
    text-align: center;
    font-size: 75px;
}
a {
    text-decoration: none;
}

.dashboard-post {
    background-color: white;
    border-radius: 15px;
}

.main {
    padding-top: 20px;
    font-family: 'PT Sans', sans-serif;
}

.dashboard-title {
    color: #900C3F;
    font-weight: bold;
    font-size: x-large;
    padding-left:10px;
    display: inline;

}

.dashboard-user {
    text-align: right;
    font-size: medium;
    display: inline;
    padding-left: 5px;
}
.dashboard-text {
    margin-left: 14px;
}

.post {
    background-color: white;
    border-radius: 15px;
}
.post-title {
    text-align: center;
}

#title {
    color: #900C3F;
}

#text {
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 15px;
}

.form {
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
.login-form{
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
#welcome {
    color: #900C3F;
}
#email-input {
    padding-right: 21px;
}

#modal {
display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #post-text {
    height: 100px;
    width: 85%;
    margin-top: 15px;
  }

  #comment-modal {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
  }

#comment-button {
    background-color: white;
    border: none;
    color: #900C3F;
    margin-left: 630px;
}

.comment-section {
    background-color: white;
    border-radius: 15px;
}

#comment-user {
    text-align: right;
    color: #900C3F;
    margin-right: 30px;
}

#comment-text {
    margin-left: 20px;
}

